* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/*style the header*/

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}


/* Container for flexboxes */

section {
    display: -webkit-flex;
    display: flex;
}


/* Style the navigation bar */

nav {
    -webkit-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5;
    background: #ccc;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}


/* style the content */

article {
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
    background-color: #f1f1f1;
    padding: 10px;
}


/* style the footer */

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}